
// @extend .radius
// @extend .tiny
// @extend .success
// @extend .right

$section-padding: 11em 2em
$gray-bg: #f5f5f5
$font-fa: 'Roboto', '微軟正黑體', 'Microsoft Jhenghei', 'Helvetica Neue', Helvetica, Arial, sans-serif

.icon_round
  display: inline-block
  text-align: center
  color: #777
  border: 1px solid #bbb
  height: 2em
  width: 2em
  line-height: 2em
  border-radius: 100%

section 
  padding: $section-padding
  text-align: center
  background: $gray-bg
  h1, h4, p
    color: #666
    font-family: $font-fa
  h1
    margin-bottom: 0.5em
#begins
  background: #fff

#intro
  background: url('../img/header.jpg')
  background-size: cover
  padding: 10em 3em
  h1
    font-size: 3.5em
    margin: 1em 0 0.5em
  h4
    margin-bottom: 2em
    span
      border-bottom: 1px solid #e2e2e2
      padding-bottom: 3px

  a.logo_idea
    font-family: $font-fa
    border-radius: 100%
    width: 5.5em
    height: 5.5em
    line-height: 5.5em
    text-align: center
    font-size: 1.5rem
    padding: 0
    display: inline-block
    background: #ececec
    border: 4px dotted #888
    color: #555
  a.logo_idea:hover
    color: #fff
    background: #ef8376
    border: 4px solid #fff
  
#goal
  background: #fff
  h1, h2, p
    color: #777
  p.description
    text-align: justify
    line-height: 1.9
    margin-bottom: 2.5em
  h2
    margin-bottom: 0.5em
  .columns p
    margin-bottom: 0.3em
  .fa
    @extend .icon_round
    margin-bottom: 25px

#partner
  .org_group
    padding: 10px
    margin: 1em auto
    height: 220px
    a
      float: left
      width: 23%
      margin: 0 1%

#idea
  text-align: justify
  .author
    padding: 1em 0
    color: #666
    float: right
  p
    line-height: 1.9

#quote
  background: url('../img/taipei.jpg')
  background-size: cover
  blockquote
    font-size: 2em
    text-align: left
    color: #EEE
    cite
      color: #EEE
      margin-top: 1.5em
      font-size: 0.5em

#join
  padding: 10em 1em
  color: #666
  background: #fff
  .user_msg
    min-height: 15em
  ul
    margin: 2em 0
    padding: 0
  li
    display: inline-block
    padding-left: 0.75em
  .fa
    @extend .icon_round
    @include transition(0.25)
    border: 1px solid #d6d6d6
    color: #aaa
  .fa:hover
    color: #007295
    border: 1px solid #007295
  .hackpad-icon
    font-size: 2em
    

.white 
  h1, h4, p
    color: #fff
    text-shadow: 1px 0px 2px #666

.client_contact
  margin: 2em 0
  input, textarea
    display: block
    box-shadow: inset 0 0 0 1px #e6e6e6
    background: #f8f8f8
    min-height: 3em
    width: 100%
    padding: 0.85em 1em
    border-radius: 0.25em
    border: 0
    @include transition(0.25)

section#footer
  padding: 3em 2em


@include keyframes(bounce) 
  0%, 20%, 50%, 80%, 100% 
    @include transform(translateY(0))
  40% 
    @include transform(translateY(-30px))
  60% 
    @include transform(translateY(-15px))

.arrow 
  display: block
  width: 60px
  height: 60px
  background-image: url("../img/arrow-down-white.png")
  background-size: contain
  margin: 0 auto
.bounce 
  @include animation(bounce 2s infinite)
