

@mixin bg-linear-gradient($direction, $color-start, $color-end)
  background-image: -webkit-linear-gradient($direction, $color-start, $color-end)
  background-image:    -moz-linear-gradient($direction, $color-start, $color-end)
  background-image:     -ms-linear-gradient($direction, $color-start, $color-end)
  background-image:      -o-linear-gradient($direction, $color-start, $color-end)
  background-image:         linear-gradient($direction, $color-start, $color-end)

@mixin transition($time) 
  -moz-transition: all $time ease-in-out
  -webkit-transition: all $time ease-in-out
  -o-transition: all $time ease-in-out
  -ms-transition: all $time ease-in-out
  transition: all $time ease-in-out

@mixin keyframes($name) 
  @-webkit-keyframes #{$name} 
    @content
  @-moz-keyframes #{$name} 
    @content
  @-ms-keyframes #{$name} 
    @content
  @keyframes #{$name} 
    @content

@mixin animation($animation) 
  -webkit-animation: #{$animation}
  -moz-animation: #{$animation}
  -ms-animation: #{$animation}
  animation: #{$animation}

@mixin transform($transform) 
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  transform: $transform


