@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
#main-container {
  background: whitesmoke;
  width: 100%;
  height: 100%; }

.navbar {
  position: absolute;
  top: 0;
  z-index: 2;
  font-weight: bold;
  width: 100%; }
  .navbar a {
    color: white; }
  .navbar .logo {
    display: none;
    float: left;
    padding: 30px; }
  .navbar ul {
    float: right;
    margin-right: 1em; }
    .navbar ul li {
      display: inline-block;
      margin: 2em 0.5em; }
      .navbar ul li a {
        padding: 0.5em 1em;
        text-align: center;
        border: 1px solid white;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.15); }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif; }

.partner {
  background: whitesmoke;
  padding: 4em 1em; }
  .partner h2, .partner h3, .partner h4, .partner p, .partner span {
    color: #666666;
    text-align: center; }
  .partner small {
    float: right;
    color: #777777; }

.navbar ul li a {
  color: #555555;
  border: 1px solid #d5d5d5; }

.org_group {
  padding: 10px;
  border: 1px solid #d5d5d5;
  margin: 1em auto;
  height: 220px; }
  .org_group a {
    float: left;
    width: 23%;
    margin: 0 1%;
    line-height: 200px; }
    .org_group a img {
      width: 100%; }
