@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
#main-container {
  background: whitesmoke;
  width: 100%;
  height: 100%; }

.icon_round, .goal .fa, #join .fa {
  display: inline-block;
  text-align: center;
  color: white;
  border: 1px solid white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.25); }

section {
  padding: 13em 2em;
  text-align: center;
  background: whitesmoke; }
  section h1, section p {
    color: #666666;
    font-family: "Roboto", "微軟正黑體", "Microsoft Jhenghei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  section h1 {
    margin-bottom: 0.5em; }

.begins {
  background: white; }

.main {
  background: url("../img/header.jpg");
  background-size: cover;
  padding: 17em 3em; }

.goal {
  background: url("../img/overlay.png"), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
  padding: 13em 1em; }
  .goal h2 {
    color: white;
    font-family: "Roboto"; }
  .goal .fa {
    margin-bottom: 25px; }

.intro {
  text-align: justify; }
  .intro .author {
    padding: 1em 0;
    color: #666666;
    float: right; }
  .intro p {
    line-height: 1.9; }

#join {
  padding: 10em 1em;
  color: #666666;
  background: white; }
  #join .user_msg {
    min-height: 15em; }
  #join ul {
    margin: 2em 0;
    padding: 0; }
  #join li {
    display: inline-block;
    padding-left: 0.75em; }
  #join .fa {
    -moz-transition: all 0.25 ease-in-out;
    -webkit-transition: all 0.25 ease-in-out;
    -o-transition: all 0.25 ease-in-out;
    -ms-transition: all 0.25 ease-in-out;
    transition: all 0.25 ease-in-out;
    border: 1px solid #d6d6d6;
    color: #aaaaaa; }
  #join .fa:hover {
    color: #007295;
    border: 1px solid #007295; }
  #join .hackpad-icon {
    font-size: 2em; }

.white h1, .white p {
  color: white;
  text-shadow: 1px 0px 2px #666666; }

.client_contact {
  margin: 2em 0; }
  .client_contact input, .client_contact textarea {
    display: block;
    box-shadow: inset 0 0 0 1px #e6e6e6;
    background: #f8f8f8;
    min-height: 3em;
    width: 100%;
    padding: 0.85em 1em;
    border-radius: 0.25em;
    border: 0;
    -moz-transition: all 0.25 ease-in-out;
    -webkit-transition: all 0.25 ease-in-out;
    -o-transition: all 0.25 ease-in-out;
    -ms-transition: all 0.25 ease-in-out;
    transition: all 0.25 ease-in-out; }

section#footer {
  padding: 3em 2em; }

.navbar {
  position: absolute;
  top: 0;
  z-index: 2;
  font-weight: bold;
  width: 100%; }
  .navbar a {
    color: white; }
  .navbar .logo {
    display: none;
    float: left;
    padding: 30px; }
  .navbar ul {
    float: right;
    margin-right: 1em; }
    .navbar ul li {
      display: inline-block;
      margin: 2em 0.5em; }
      .navbar ul li a {
        padding: 0.5em 1em;
        text-align: center;
        border: 1px solid white;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.15); }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  background: whitesmoke; }
