doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title HanGee

        link(rel="stylesheet", type="text/css", href="vendor/foundation/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="vendor/foundation/css/foundation.min.css")
        link(rel="stylesheet", type="text/css", href="public/css/style.css")

        block styles

    body
        #main-container
            block content
        block scripts

