doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:image', content='public/img/logo_mid.jpg')
        meta(name='keywords' ,content='HanGee, 國民機, 智慧型手機')

        block meta

        link(rel='icon', type='images/ico', href='public/img/logo_tiny.jpg')
        link(rel="stylesheet", type="text/css", href="vendor/foundation/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="vendor/foundation/css/foundation.min.css")
        link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

        block style

    body
        #main-container
            block content
        block script

