extends layout
block meta
  title HanGee - 合作夥伴

block style
  link(rel='stylesheet', type='text/css', href='public/css/partner.css')
block content

  include partial/_navbar

  .row.partner
    .column.small-12
      h3 支持單位
      hr
      .org_group.clearfix
        //-
          a(href='http://www.mandice.com/tw/', target='_blank')
            img(src='public/img/mandice.png')
          a(href='http://www.symbio.com/', tager='_blank')
            img(src='public/img/symbio.png')
        a(href='http://www.mokoversity.com/', target='_blank')
          img(src='http://cdn.mokoversity.com/images/logo/mokoversity.png')
        a
          img(src='https://dchtm6r471mui.cloudfront.net/hackpad.com_5UjDysY4fYo_p.126704_1394996931332_AG%20Style-2.png')
        a(href='https://taiwan-doit.com/', target='_target')
          img(src='public/img/doit.png')
        a(href='http://www.custardcream.org/', target='_target')
          img(src='public/img/custard.png')
      p * LOGO依時間由左至右，由上而下排序

  //-a(href='https://github.com/HanGee/Portal')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')


block script
  //script(src='vendor/jquery/dist/jquery.min.js')
  //script(src='public/js/main.min.js')

