
// @extend .radius
// @extend .tiny
// @extend .success
// @extend .right

$section-padding: 13em 2em
$gray-bg: #f5f5f5
.icon_round
  display: inline-block
  text-align: center
  color: #fff
  border: 1px solid #fff
  height: 2em
  width: 2em
  line-height: 2em
  border-radius: 100%
  background: rgba(255,255,255,0.25)

section 
  padding: $section-padding
  text-align: center
  background: $gray-bg
  h1, p
    color: #666
    font-family: 'Roboto', '微軟正黑體', 'Microsoft Jhenghei', 'Helvetica Neue', Helvetica, Arial, sans-serif
  h1
    margin-bottom: 0.5em
.begins
  background: #fff

.main
  background: url('../img/header.jpg')
  background-size: cover
  padding: 17em 3em
  
.goal
  background: url('../img/overlay.png'), linear-gradient(45deg, #b39c68, #a56365, #412e4c)
  padding: 13em 1em
  h2 
    color: #fff
    font-family: "Roboto"
  .fa
    @extend .icon_round
    margin-bottom: 25px

.intro
  text-align: justify
  .author
    padding: 1em 0
    color: #666
    float: right
  p
    line-height: 1.9

#join
  padding: 10em 1em
  color: #666
  background: #fff
  .user_msg
    min-height: 15em
  ul
    margin: 2em 0
    padding: 0
  li
    display: inline-block
    padding-left: 0.75em
  .fa
    @extend .icon_round
    @include transition(0.25)
    border: 1px solid #d6d6d6
    color: #aaa
  .fa:hover
    color: #007295
    border: 1px solid #007295
  .hackpad-icon
    font-size: 2em
    

.white 
  h1, p
    color: #fff
    text-shadow: 1px 0px 2px #666

.client_contact
  margin: 2em 0
  input, textarea
    display: block
    box-shadow: inset 0 0 0 1px #e6e6e6
    background: #f8f8f8
    min-height: 3em
    width: 100%
    padding: 0.85em 1em
    border-radius: 0.25em
    border: 0
    @include transition(0.25)

section#footer
  padding: 3em 2em
