.navbar
  h1.logo
    a(href='#') HanGee
  nav
    ul
      li
        a(href='http://han-gee.com/') Home
      li
        a(href='http://han-gee.com/zh-hant/blog') Blog
      li
        a(href='http://han-gee.com/pages/partner.html') Partner
      li
        a(href='http://han-gee.com/#join') Join
