.navbar
  h1.logo
    a(href='#') HanGee
  nav
    ul
      li
        a(href='http://hangee.github.io/Portal/index.html') Home
      li
        a(href='http://han-gee.com/') Blog
      li
        a(href='http://hangee.github.io/Portal/partner.html') Partner
      li
        a(href='http://hangee.github.io/Portal/index.html/#recruit') Contact
