
#fb-root
  script.
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/all.js#xfbml=1'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

section#intro(data-magellan-destination='intro')
  .column.small-11.medium-8.small-centered.white
    a.logo_idea(href='http://idea.han-gee.com') 收稿中
    h1 HanGee 國民機運動
    h4
      | A 
      span mobile phone
      |  embraced and enjoyed by everyone.
    a.arrow.animated.bounce#entrance

include _navbar

a(name='begins')
section#begins(data-magellan-destination='begins')
  .column.small-11.medium-8.small-centered
    h1 緣起
    .fb-post(data-href='https://www.facebook.com/fred.chien.9/posts/814456768567666', data-width='640')
      .fb-xfbml-parse-ignore
        a(href='https://www.facebook.com/fred.chien.9/posts/814456768567666') Post
        |  by 
        a(href='https://www.facebook.com/fred.chien.9') Fred Chien
        | .

section#idea(data-magellan-destination='idea')
  .column.small-11.medium-8.small-centered
    h1 計劃理念
    p HanGee 的初衷非常單純，只是覺得沒有技術的人都可以做出手機上市，我們懂技術、懂得做手機的人，為什麼做不出一支不遜色的手機出來呢？於是，我們發起了 HanGee 國民機的運動。
    p 我們希望做一支國民機，一支大家都能認同的手機。
    p 我們明白，想要滿足所有人的需求相當困難，但是我們至少可以讓『大家共同參與手機打造的過程』。若能在這支手機的催生過程中，讓台灣各個角落的創新團隊們，以及讓大小公司展現各自的價值，無論來頭大小都能嘗試合作，扮演好各自的角色，HanGee 就已經足夠稱的上是支國民機了。
    p 也許你是有想法的專業設計師、也許你是硬梆梆的硬體專家、也許你是熱血的軟體工程師、也許你是飢渴地吸收新知的學生、也許你是有能力量產的廠商，又或者是一個有品牌、有能力服務大眾但缺少好東西推銷的公司。只要你願意參與其中，做好自己的專業，甚至成為 HanGee 計劃的導師(Mentor)， HanGee 或許真有機會做到改變生態的創舉。
    p 無論有多麼理想化，我們仍然期望 HanGee 能促成科技版的『看見台灣』，讓眾人透過 HanGee 計劃看見台灣人才的熱情和原創實力。
    em.author - Fred Chien

section#goal(data-magellan-destination='goal')
  .column.small-11.medium-9.small-centered
    h1 目標
    p.description HanGee 國民機運動的目標，不僅僅是打造一支手機，更重要的是，藉由打造手機的過程，讓世界能透過「HanGee」看見台灣的科技實力和人才；集結有想法，有能力的人們在這個開放創新的過程中發光發熱，共創價值。當我們能夠靠自己發願的力量，把世界上最複雜的科技產品打造出來，實踐改變和刺激產業昇華的夢想將不是遙不可及！
    .row
      .columns.small-12.medium-4
        span.fa.fa-group.fa-4x
        h2 共創
        p 維護共創機制
        p 引領共創價值
      .columns.small-12.medium-4
        span.fa.fa-flash.fa-4x
        h2 對話
        p 建立產業對話平台
        p 協助產業資源轉動
      .columns.small-12.medium-4
        span.fa.fa-group.fa-4x
        h2 認同
        p 協助任何人，監督品質
        p 打造自己認同的國民科技產品

section#structure(data-magellan-destination='structure')
  .column.small-11.medium-8.small-centered
    h1 運作架構
    p.description HanGee 試圖設計一個完善的開放運作架構，容納各方的想法與資源，再借國內產業的量產能力優勢，服務商的包裝能力加值，進一步成就共創價值。

section#quote
  .column.small-11.medium-8.small-centered
    blockquote
      | 當我們能夠靠自己發願的力量，把世界上最複雜的科技產品打造出來，改變產業的夢想就近在眼前！
      cite HanGee

section#partner(data-magellan-destination='partner')
  .column.small-11.medium-9.small-centered
    h1 支持單位
    .org_group.clearfix
      a(href='http://www.mokoversity.com/', target='_blank')
        img(src='http://cdn.mokoversity.com/images/logo/mokoversity.png')
      a
        img(src='https://dchtm6r471mui.cloudfront.net/hackpad.com_5UjDysY4fYo_p.126704_1394996931332_AG%20Style-2.png')
      a(href='https://taiwan-doit.com/', target='_target')
        img(src='/build/img/doit.png')
      a(href='http://www.custardcream.org/', target='_target')
        img(src='/build/img/custard.png')
    p * LOGO依時間由左至右，由上而下排序
//-section.spec#spec
  .column.small-11.medium-9.small-centered
    h1 Spec
    p Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod 
    .row
      table.column.small-12.small-centered
        tbody
          tr
            td spec1
            td Donec id elit non mi porta gravida at eget metus.
            td Content Goes Here
          tr
            td spec2
            td
              | Donec id elit non mi porta gravida at eget metus.
            td Content Goes Here
          tr
            td spec3
            td
              | longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
            td Content Goes Here

section#join(data-magellan-destination='join')
  .column.small-11.medium-8.small-centered
    h1 Join to make a difference
    p.description 歡迎有想法、有熱誠的夥伴，加入我們的行列
    ul
      li
        a(href='mailto:owahangee@gmail.com', target='_top').fa.fa-envelope.fa-2x
      li
        a(href='https://github.com/HanGee', target='_blanck').fa.fa-github.fa-2x
      li
        a(href='https://www.facebook.com/groups/HanGee/', target='_blank').fa.fa-facebook.fa-2x
      li
        a.fa.hackpad-icon(href='https://hangee.hackpad.com/', target='_blank', title='HanGee Hackpad') H
      //-li
        a(href='#').fa.fa-twitter.fa-2x
    //-form.client_contact.small-12
      .row
        .columns.small-12.medium-6
          input(type='text', placeholder='Name', required)
        .columns.small-12.medium-6
          input(type='email', placeholder='Email', required)
      .row  
        .column.small-12
          textarea.user_msg(name='message', placeholder='Message', reuired)
    //-.column.small-12.medium-6.small-centered
      a.radius.button.expand Send

section#footer
  .column.small-11.medium-8.small-centered
    p HanGee 2014. 
