//-.navbar
  h1.logo
    a(href='#') HanGee
  nav
    ul
      li
        a(href='http://han-gee.com/') Home
      li
        a(href='http://han-gee.com/zh-hant/blog') Blog
      li
        a(href='http://han-gee.com/pages/partner.html') Partner
      li
        a(href='http://han-gee.com/#join') Join

nav.nav(data-magellan-expedition='fixed')
  //-ul.title-area
    li.toggle-topbar menu
      a(href="#") Menu
  ul.sub-nav
    li(data-magellan-arrival='intro')
      a(href='#intro') 首頁
    li(data-magellan-arrival='begins')
      a(href='#begins') 緣起
    li(data-magellan-arrival='idea')
      a(href='#idea') 理念
    li(data-magellan-arrival='goal')
      a(href='#goal') 目標
    li(data-magellan-arrival='structure')
      a(href='#structure') 運作架構
    li(data-magellan-arrival='partner')
      a(href='#partner') 支持單位
    li
      a(href='http://han-gee.com/zh-hant/blog') BLOG
    li(data-magellan-arrival='join')
      a(href='#join') 聯絡我們

